.THIS .slds-p-around--medium{
    width:40rem;
}
.THIS .slds-input-has-icon {
    padding-bottom: inherit;
}
.THIS .inputdiv {
    width:420px;
}
.THIS .slds-input-has-icon{
    width: 15rem;
}
.THIS .inputselect{
    padding-top: 75px;
}